.label {
    color: white;
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}

.input {
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
    margin-bottom: 1.5rem;
    appearance: none;
}